


/* Color reference:
-----background: #E1E0DD
body background: #F1F2F0
-----------text: #35342F
-----------link: #5D2C9E
--------visited: #463E66
*/


h1, h2, h4 {
  font-family: Fjalla One;
}

li a:link {
  color: #5D2C9E;
}

li a:visited {
  color: #5D2C9E;
  text-decoration: line-through;
}

pre {
  width: 90%;
  padding: 7px;
  display: inline-block;
  text-align: left;
  background-color: #b7babc;
}

pre code {
  text-align: left;
}

figcaption {
  font-size: 10pt;
}

article p {
  text-indent: 25px;
  text-align: left;
}

ul {
  text-align: left;
  list-style-type: disc inside;
}

ol li {
  font-family: Fjalla One;
  text-align: left;
  padding: .25em;
  list-style: decimal-leading-zero inside;

}

