@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);


/* Color reference:
-----background: #E1E0DD
body background: #F1F2F0
-----------text: #35342F
-----------link: #5D2C9E
--------visited: #463E66
*/

h1, h2, h4 {
  font-family: Abril Fatface;
}

code {
  text-align: justify;
  background-color: #b7babc;
}

ol li {
  text-align: justify;
  padding: .5em 1.5em 1em .5em;
  font-family: Lora;
}