


/* Color reference:
-----background: #E1E0DD
body background: #F1F2F0
-----------text: #35342F
-----------link: #5D2C9E
--------visited: #463E66
*/

h1, h2, h4 {
  font-family: Fjalla One;
  text-align: center;
}

p a:visited {
  color: #FFCA85;
  text-decoration: line-through;
}

pre {
  width: 90%;
  padding: 7px;
  display: inline-block;
  text-align: left;
  background-color: #b7babc;
}

pre code {
  text-align: left;
}

figcaption {
  font-size: 10pt;
}

article ul, p {
  text-indent: 25px;
  text-align: left;
}

ol li {
  text-align: left;
  padding: .25em;
  font-family: Lora;
  color: #E38100;
}

