@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

/* Color reference:
background color: #d7fae0
body background color: #F1F2F0
text color: #35342F
link color: #5D2C9E
---visited: #463E66
---hoverbg: #c0e0d8

*/

html {

  background: #d7fae0;
background: -moz-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7fae0), color-stop(4%, #d7fae0), color-stop(88%, #254d57), color-stop(100%, #254d57));
background: -webkit-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -o-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -ms-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: linear-gradient(to bottom, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7fae0', endColorstr='#254d57', GradientType=0 );

  padding: 7% 20% 10% 20%;
  font-family: Lora;
}

header, section, footer{
  text-align: center;
  width: 80%;
  background-color: #F1F2F0;
  color: #35342f;
}

a:link {
  text-decoration: none;
  color: #5D2C9E;
}

a:visited {
  color: #463E66;
  text-decoration: line-through;
}

header {
  position: relative;
  display: block;
  float: left;

  height: 100%;
  padding: 25px 50px 10px 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 10px;
}

nav li {
  width: 15%;
  padding: 10px 5px 10px 5px;
  float: left;
  min-width: 35px;

  list-style-type: none;
  font-size: 13pt;
  color: #5ECCC2;
}

nav a:hover {
  padding: 7px;
  background-color: #c0e0d8;
  color: #261033;
  border-radius: 10px;
}

nav a:active {
  color: #170621;
  font-weight: bold;
}

header>h3 {
  color: #1D667C;
  text-align: right;
  font-size: 15pt;
  float: right;
  padding: 0px 5px 0px 40px;
}

section {
  display: inline-block;
  padding: 10px 50px 10px 50px;
}

section>h2 {
  margin-top: 1%;
  margin-bottom: 5%;
}

section p {
  text-align: justify;
}

section ul {
  list-style: inside circle;
}

.social-icons {
  max-width: 350px;
  min-width: 80px;
  margin: 0 auto;
}

.social-icons img {
  height: 60px;
  padding: 5px 10px 5px 10px;
}

footer {
  display: inline-block;
  text-align: center;

  font-size: 10pt;
  padding: 25px 50px 30px 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 75px;
}