
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

/* Color reference:
background color: #d7fae0
body background color: #F1F2F0
text color: #35342F
link color: #3c8c4e
---visited: #463E66
----active: #296035
---hoverbg: #c0e0d8

*/

html {

background: #d7fae0;
background: -moz-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7fae0), color-stop(4%, #d7fae0), color-stop(88%, #254d57), color-stop(100%, #254d57));
background: -webkit-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -o-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: -ms-linear-gradient(top, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
background: linear-gradient(to bottom, #d7fae0 0%, #d7fae0 4%, #254d57 88%, #254d57 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7fae0', endColorstr='#254d57', GradientType=0 );

  padding: 7% 17% 150px 17%;
  font-family: Lora;
}

body {
  border-radius: 50px 10px 75px 10px;
  background-color: #F1F2F0;
}

header, footer{
  margin: 0 auto;
  text-align: center;
  width: 80%;

  color: #35342f;
}

a:link {
  text-decoration: none;
  color: #3c8c4e;

}

section>a:visited {
  color: #463E66;
  text-decoration: line-through;
}

header {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  padding: 25px 0px 0px 0px;
}

nav li {
  display: inline-block;
  width: 8%;
  padding: 10px 5px 10px 5px;
  min-width: 35px;

  list-style-type: none;
  font-size: 13pt;
  color: #3c8c4e;
}

nav a:hover {
  color: #296035;
  -webkit-text-stroke: 1px #306d3d;
}

nav a:active {
  color: #296035;
  font-weight: bold;
}

nav a:visited {
  color: #3c8c4e;
}

header>h3 {
  color: #1D667C;
  text-align: right;
  font-size: 15pt;
  float: right;
  margin: 0px 30px 0px 30px;
}

.contact-form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #35342f;
}

.contact-form form {
  margin: 0px auto 0px auto;
  width: 80%;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #8bb7b6;
}

.contact-form label {
    display: block;
    margin-top: 20px;
    letter-spacing: 3px;
}

.contact-form input, textarea{
  width: 75%;
  height: 27px;
  border: 1px solid #8bb7b6;
  border-radius: 5px;
  text-align: center;
  overflow: scroll;
  clear: both;
}

textarea {
  height: 85px;
  margin-bottom: 10px
}

#submit:hover {
  background-color: #35342F;
  color: #F1F2F0;
}

section p {
  text-align: justify;
}

footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 10pt;
  padding: 25px 0px 30px 0px;
}
