

/* Color reference:
background color: #d7fae0
body background color: #F1F2F0
text color: #35342F
link color: #3c8c4e
---visited: #463E66
----active: #296035
---hoverbg: #c0e0d8
*/

.proj-icons {
  max-width: 550px;
  min-width: 80px;
  margin: 0 auto;
}

.proj-icons img {
  width: 30%;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}
